<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/styleHead :: styleHead(Login)"></head>
<body>

    <nav th:replace="partials/navbar :: navbar"></nav>

    <main>

        <h5 th:text="${error}"></h5>

        <div th:if="${!param.isEmpty()}">
            <div>
                <div class="errorMsg" th:if="${param.logout}">
                    <i class="material-icons">error</i>You have been logged out.
                </div>
                <div class="errorMsg" th:if="${param.error}">
                    <i class="material-icons">error</i>Username or password does not exist, you may need to activate your account through email.
                </div>
                <div class="errorMsg" th:if="${param.messageSent}">
                    <i class="material-icons">error</i>Our team has been notified. We will get back to you soon
                </div>
                <div class="errorMsg" th:if="${param.errorSent}">
                    <i class="material-icons">error</i>Our team has been notified, thank you
                </div>
                <div class="errorMsg" th:if="${param.activated}">
                    <i class="material-icons">error</i>Your account has been activated
                </div>
                <div class="errorMsg" th:if="${param.activationIssue}">
                    <i class="material-icons">error</i>There was an issue activating your account
                </div>
            </div>
        </div>

        <form th:action="@{/login}" th:method="POST">
            <div class="input-field">
                <input id="username" type="text" class="validate" name="username">
                <label for="username">UserName</label>
            </div>
            <div class="input-field">
                <input id="password" type="password" class="validate" name="password">
                <label for="password">Password</label>
            </div>
            <button>Submit</button>
        </form>
        <a th:href="@{/register}">Register</a>
    </main>


<div th:replace="partials/materailScripts :: scripts"></div>

</body>
</html>