<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/styleHead :: styleHead(Stocks)"></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<main>

    <section class="row">
        <div class="stock-card col s12 m6" th:each="stock : ${stockList}">
            <div th:replace="partials/stockCard :: stockCard"></div>
        </div>
    </section>

</main>

<footer th:replace="partials/footer :: footer"></footer>


<div th:replace="partials/materailScripts :: scripts"></div>

<script>
    $(document).ready(() => {



    });
</script>

</body>
</html>