<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/styleHead :: styleHead(Viewing_Stock)"></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>

    <main>

        <div class="row">
            <h2 th:text="${stock.ticker}"></h2>
            <form th:action="@{/trade-stock/{id}(id=${stock.id})}" th:method="POST">
                <p>
                    <label>
                        (Default Buy)
                        <input name="group1" type="radio" />
                        <span>Sell</span>
                    </label>
                </p>
                <div class="input-field">
                    <input id="amount" type="number" min="1" class="validate" name="amount">
                    <label for="amount">Amount</label>
                </div>
                <button class="btn">Submit</button>
            </form>
        </div>

    </main>

<footer th:replace="partials/footer :: footer"></footer>

<div th:replace="partials/materailScripts :: scripts"></div>

</body>
</html>