<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navbar" th:remove="tag">

    <ul id="dropdown1" class="dropdown-content">
        <li sec:authorize="isAuthenticated()">
            <a href="/profile">Profile</a>
        </li>
        <li th:if="${loginPage == null}" sec:authorize="isAnonymous()">
            <a href="/login">Login</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <form class="logoutForm" th:action="@{/logout}" method="POST">
                <button class="logoutFormButton">Logout</button>
            </form>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a href="/trade">Trade</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a href="/account">View Account</a>
        </li>
    </ul>

    <nav>

        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Home</a>
            <a class='dropdown-trigger hide-on-med-and-up right' href='#' data-target='dropdown1'>Drop Down</a>
            <ul id="nav-mobile" class="right hide-on-small-only">
                <li sec:authorize="isAuthenticated()">
                    <a class="navbarA" href="/profile">Profile</a>
                </li>
                <li th:if="${loginPage == null}" sec:authorize="isAnonymous()">
                    <a class="navbarA" href="/login">Login</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form class="logoutForm" th:action="@{/logout}" method="POST">
                        <button class="logoutFormButton">Logout</button>
                    </form>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/trade">Trade</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/account">View Account</a>
                </li>
            </ul>
        </div>
    </nav>
</div>