<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/styleHead :: styleHead(Profile)"></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>

    <main>
        <h1>Welcome <span th:text="${session.user.username}"></span> </h1>
        <h3>Current return: </h3>
        <h3>Account Balance: <span th:text="${session.user.userAccount.value}"></span></h3>
    </main>

<footer th:replace="partials/footer :: footer"></footer>

<div th:replace="partials/materailScripts :: scripts"></div>

</body>
</html>