<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/styleHead :: styleHead(Stock_Trader)"></head>

<body>
    <nav th:replace="partials/navbar :: navbar"></nav>



    <section id="image-head-home" class="main-heading-fader">
        <img th:src="@{/img/stock_chart_1.jpeg}" alt="stockChart" class="mainImg">
        <img th:src="@{/img/stock_chart_2.png}" alt="stockChart" class="mainImg hide-on-small-only">
        <img th:src="@{/img/stock_chart_3.jpeg}" alt="stockChart" class="mainImg hide-on-small-only">
    </section>

    <main>

        <div class="main-heading-fader">
            <h2 class="my-heading-text">Learn to trade stocks fast, price actions based off historical data from popular stocks</h2>
        </div>

        <div>
            <p>More content here as you scroll down</p>
        </div>

    </main>

    <footer th:replace="partials/footer :: footer"></footer>

<div th:replace="partials/materailScripts :: scripts"></div>

</body>
</html>