<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/styleHead :: styleHead(Stock_Trader)"></head>

<body>
    <nav th:replace="partials/navbar :: navbar"></nav>

    <section id="image-head-home"></section>

    <main>

        <div class="main-heading-fader">
            <div class="home-page-card">
                <p class="my-heading-text">Learn to trade stocks fast</p>
                <img th:src="@{/img/stock_chart_2.png}" alt="stockChart" class="mainImg">
            </div>
            <div class="home-page-card">
                <p class="my-heading-text">Price actions based off historical data from popular stocks</p>
                <img th:src="@{/img/stock_chart_3.jpeg}" alt="stockChart" class="mainImg">
            </div>
        </div>

        <div class="step-container">
            <div class="steps">
                <h1 class="steps-number">01</h1>
                <p>Create an account, research your stocks and trade. Use your starter funds and grow your account</p>
            </div>
            <div class="steps">
                <h1 class="steps-number">02</h1>
                <p>Create an account, research your stocks and trade. Use your starter funds and grow your account</p>
            </div>
            <div class="steps">
                <h1 class="steps-number">03</h1>
                <p>Create an account, research your stocks and trade. Use your starter funds and grow your account</p>
            </div>
        </div>

    </main>

    <footer th:replace="partials/footer :: footer"></footer>

<div th:replace="partials/materailScripts :: scripts"></div>

</body>
</html>